html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-navbar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downward-arrow img{
  width: 5%;
  transition: 1.5s;
}

.downward-arrow:hover{
  transition: 0.5s;
  scale: 1.5;
}

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}


.about-me-image img{
  max-width: 345px !important;
  height: 550px !important;
  border-radius: 15px;
  background: #D9D9D9;
}

.section-title{
  font-weight: bold;
}

#about-me-section > div > div.about-me-text.col > div{
  color: white;
}

.about-me-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% !important;
}

.about-me-text{
  padding-top: 15%;
  text-align: left;
}

.about-me-text-section{
  background-color: rgba(39,39,39, 0.5);
  border-radius: 15px;
  padding: 5% 5%;
  transition: 1.5s;
}

.about-me-text-section:hover{
  padding: 5%;
  transition: 0.5s;
  scale: 1.1;
  filter: drop-shadow(-6mm 6mm 3mm #454545);
}


.top-section-overlay{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

body > div.top-section-overlay img{
  width: 100%;
}

body > div.portfolio-navbar > p{
  color: white;
  margin-left: 25%;
  padding-top: 2%;
}

.section-text{
  margin-bottom: 0;
}

.cv{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.cv img{
  width: 35%;
  z-index: 1;
  margin-bottom: -30%;
}

.footer-overlay{
  width: 100%;
  position: relative;
}

.footer-overlay img{
  width: 100%;
}

.footer a{
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.footer-text{
  position: absolute;
  bottom: 10%;
  padding-left: 1%;
}

.footer-creation-text{
  position: absolute;
  bottom: 0;
  left: 1%;
  color: white;
  font-size: 12px;
}

.footer-email-text{
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  right: 1%;
  color: white;
  font-size: 12px !important;
}

.full-width-Skills{
  margin-top: 15%;
}

.skills{
  width: 100%;
  padding: 5% 15%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10%;
}

.skills-text{
  text-align: center;
  background-color: rgba(39,39,39, 0.5);
  color: white;
  border-radius: 15px;
  padding: 5%;
  transition: 1.5s;
}

.skills-text:hover{
  padding: 5%;
  transition: 0.5s;
  scale: 1.1;
  filter: drop-shadow(-6mm 6mm 3mm #454545);
}

.btn {
 padding: 1.1em 2em;
 background: none;
 border: 2px solid #272727 !important;
 font-size: 15px;
 color: white !important;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: #ecd448;
 font-weight: bolder;
}

.btn:before {
 content: "";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: #ff6700;
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}

.btn:hover {
 background-color: #ff00f7;
 color: #fff;
 box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}

.btn:active {
 transform: scale(0.9);
}