html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.about-me-image{
  max-width: 345px !important;
  height: 449px !important;
  border-radius: 15px;
  background: #D9D9D9;
}

.section-title{
  font-weight: bold;
}

body > div.about-me.container > div > div.about-me-text.col-4 > p{
  color: white;
}

body > div.about-me.container > div > div.about-me-text.col-4 > p.section-title{
  color: white;
}

.about-me{
  margin-top: 10%;
  vertical-align: middle;
}

.about-me-text{
  padding-top: 10%;
}

.top-section-overlay{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

body > div.top-section-overlay img{
  width: 100%;
}

body > div.portfolio-navbar > p{
  color: white;
  margin-left: 25%;
  padding-top: 2%;
}

.skills-section{
  margin-top: 20%;
}

.skills-box{
  width: 240px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #C7FFED;
  margin-bottom: 10%;
  transition: 1.5s;
}

.skills-box:hover{
  transition: 0.5s;
  scale: 1.5;
  filter: drop-shadow(-6mm 6mm 3mm #4d4d4d);
}

.section-text{
  margin-bottom: 0;
}

.see-more-project{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.see-more-project:hover{
  color: #ff00f7;
  transition: 0.5s;
}

.see-more-project p{
  margin-top: 16px;
  margin-right: 15%;
}

.cv{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.cv img{
  width: 35%;
  margin-bottom: -35%;
  z-index: 1;
}

.footer-overlay img{
  width: 100%;
}